<div class="comment">
  <p>
    <%= comment.body %>
  </p>
  <i>Posted by: <%=comment.user.username%></i><br><br>
  <%= render partial: 'comments/form', locals: { commentable: comment } %>
  <div>
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </div>
</div>
