
<h3>Welcome to you movie database(camp)</h3>

<table>
  <tr>
    <th>Title</th>
  </tr>
 
  <% @movies.each do |movie| %>
    <tr>
      <td><%= image_tag movie.boxart_url,  :size => "240x320" %> </td>
      <td>&nbsp</td>
      <td>&nbsp <%= link_to movie.title, movie_path(movie) %></td>
    </tr>
  <% end %>
</table>

<h3> Activity Feed </h3>





